{% extends 'base.html' %}

{% block title %}Booking Details{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center mt-5">Booking Details</h1>

  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">Booking ID: {{ booking.id }}</h5>
      <p class="card-text">Name: {{ booking.name }}</p>
      <p class="card-text">Admission Number: {{ booking.admission_number }}</p>
      <p class="card-text">Department: {{ booking.department }}</p>
      <p class="card-text">Semester: {{ booking.semester }}</p>
      <p class="card-text">Registration Number: {{ booking.registration_number }}</p>
      <div class="text-center mt-4">
        <img src="{{ booking.user_photo.url }}" alt="User Photo" class="img-fluid">
      </div>
    </div>
  </div>
</div>
{% endblock %}

